{% load static %}

<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.facebook.com/ADValeVirtudesTrianon" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.youtube.com/channel/UCMfNoDA-ERNQ3qtmo8pAmbQ" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
            <li><a href="https://www.instagram.com/advalevirtudestrianon/?r=nametag&fbclid=IwAR0RQKYsJZfuNBW3P_mrbkLMazVd0lDRXZ3annFhGJF2_WwrQSdbHCfzEBk" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2020  AD Vale Virtudes Trianon</li><li>Developer: Ed Jesus</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'vendor/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/jquery.poptrox.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/browser.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/util.js' %}"></script>
<script src="{% static 'vendor/assets/js/main.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>